@model ChangePasswordViewModel

<h1>@ViewData["Title"]</h1>
<h4>Change user password.</h4>
<hr />
<div class="row">
	<form method="post" class="form-horizontal bg-primary img-rounded col-md-6">
		@Html.AntiForgeryToken()
		<input type="hidden" name="UserName" value="@Context.User.Identity.Name" />
		<div class="form-group row">
			<label class="col-md-3 control-label text-right">User Name:</label>
			<div class="input-group input-group-sm col-md-6">
				<input class="form-control form-control-sm col-md-4" type="text" value="@Context.User.Identity.Name" disabled />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="OldPassword" class="col-md-3 control-label text-right">@Html.DisplayNameFor(m => m.OldPassword):</label>
			<div class="input-group input-group-sm col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fa fa-lock"></i></span>
				</div>
				<input asp-for="OldPassword" class="form-control form-control-sm" type="password" placeholder="Old Password" required="required" />
			</div>
			<span asp-validation-for="OldPassword" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<label asp-for="NewPassword" class="col-md-3 control-label text-right">@Html.DisplayNameFor(m => m.NewPassword):</label>
			<div class="input-group  input-group-sm col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fa fa-lock"></i></span>
				</div>
				<input asp-for="NewPassword" class="form-control form-control-sm" type="password" placeholder="New Password" required="required" />
			</div>
			<span asp-validation-for="NewPassword" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<div class="col-md-10 col-md-push-1">
				<button type="submit" class="btn btn-primary  btn-sm">Save</button>
			</div>
		</div>
	</form>
</div>
